<div>
    <h2>Interpolation Example</h2>
    <p>First Name : {{firstName}}</p>
    <p>Last Name : {{lastName}}</p>
    <p> Full Name : {{fullName}}</p>
    <p> Address : {{address}}</p>
    <hr>
    <p>Name is {{firstName}} who lives in {{address}} and last name is {{lastName}}</p>
    {{a}}
    <!-- {{a++}} error-->
    <br>
    {{flag}}
    {{!flag}}
    <br>
    {{a+a}}
    {{a*a}}
    {{45*100}}
    <br>
    {{currentDate}}
    <br>
    {{getFullName()}}
    <br>
    {{getNameInCaps()}}
    <br>
    {{getReverseOfName()}}
    <br>
    <input type="text" value="{{firstName}}">

    <img src="/path/{{firstName}}" alt="">
</div>