<!-- Basics,Components,Module -->

<!-- <h1>This is App Component</h1>
<b>{{title}}</b>

<about-component></about-component>
<footer-component></footer-component>
<app-services></app-services>
<app-sidebar></app-sidebar>
<team-component></team-component> -->

<!-- Data Binding -->
<div class="container">
    <h1>We are learning Angular</h1>
    <!-- <app-property-binding></app-property-binding>
    <hr>
    <app-interpolation></app-interpolation> -->
    <!-- <app-event-binding></app-event-binding> -->
    <app-two-way-binding></app-two-way-binding>

</div>